[submodule "src/fixposition_driver"]
	path = src/fixposition_driver
	url = https://github.com/fixposition/fixposition_driver.git

[submodule "src/rviz_satellite"]
	path = src/rviz_satellite
	url = https://github.com/nobleo/rviz_satellite.git
[submodule "src/navigation2_tutorials_gps_humble"]
	path = src/navigation2_tutorials_gps_humble
	url = https://github.com/luispri2001/navigation2_tutorials_gps_humble.git
